{% extends "base.html" %} 
{% from "macros.jinja" import window_vars with context %}

{% block page %}
<div class="row q-col-gutter-md" id="vue" data-cy="allowance-extension">
  <div class="col-12 col-md-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="openCreateDialog" icon="add">Test Minimal Form</q-btn>
      </q-card-section>
    </q-card>
  </div>

  <!-- CREATE DIALOG -->
  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit.prevent="saveAllowance" class="q-gutter-md">
        <div class="text-center q-mb-lg">
          <div class="text-h6">Test Minimal Form</div>
        </div>
        
        <q-input
          filled
          dense
          v-model.trim="formDialog.data.name"
          label="Description *"
          placeholder="Test description"
        ></q-input>
        
        <q-input
          filled
          dense
          v-model.number="formDialog.data.amount"
          type="number"
          label="Amount *"
          min="1"
          step="1"
        ></q-input>
        
        <q-toggle
          v-model="formDialog.data.active"
          label="Active"
          color="positive"
        />
        
        <div class="row q-mt-lg">
          <q-btn
            v-close-popup
            flat
            color="grey"
            class="q-ml-auto"
            >Cancel</q-btn
          >
          <q-btn
            unelevated
            color="primary"
            :loading="formDialog.loading"
            type="submit"
            class="q-ml-sm"
            >Test Submit</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} 

{% block scripts %} 
{{ window_vars(user) }}
<script src="/allowance/static/js/allowance-minimal.js"></script>
{% endblock %}